<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{hobby}}</title>
</head>

<body>

    {{title}}--------------{{{title}}}
    <!-- 在源文件中设置 -->
    <!--vue-ssr-outlet-->
<script type="text/javascript" src="/./static/libs.js?cdbd0eb437304539f7e7"></script><script type="text/javascript" src="/./static/main.js?cdbd0eb437304539f7e7"></script></body>

</html>