* {
  margin: 0;
  padding: 0;
}

.box {
  width: 400px;
  height: 50px;
  position: fixed;
  right: 30px;
  bottom: 70px;
  z-index: 10;
}

.box a {
  display: inline-block;
  width: 70px;
  height: 50px;
  border: 1px solid #000;
  text-align: center;
  line-height: 50px;
  background-color: #fff;
}

.bm-enter,
.bm-leave-to {
  opacity: 0;
}

.bm-enter-active,
.bm-leave-active {
  transition: all 2s;
}
